* {
    margin: 0 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url(../imagenes/marvel.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@font-face{
    font-family: "marvel";
    src: url(../fuente/marvel.ttf);
}

@font-face{
    font-family: "comic";
    src: url(../fuente/comic2.ttf);
}

header{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.74);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.651) 10px 10px;
}

header h1{
    margin-top: 2%;
}

.blanco{
    font-family: "marvel";
    font-size: 10vmin;
}

.blanco2{
    font-family: "comic";
    font-size: 4.5vmin;
}

a{
    font-family: "comic";
    color: white;
    font-size: 8vmin;
    text-decoration: none;
}

#cuadro, #cuadro2, #cuadro3, #cuadro4, #cuadro5{
    margin-top: 5%;
    margin-left: 10%;
    float: left;
    font-size: 2vmin;
    background-color: rgba(255, 0, 0, 0.74);
    width: 11%;
    border: 1px white solid;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.671) 8px 8px;

}

.superlogo{
    width: 20%;
    
}